/*  
Theme Name: HappyCoder
Theme URI: http://
Description: Modern Business Wordpress Theme
Author: HappyCoder
Author URI: http://
Version: 3.0
Tags: Green, White, Translation-ready, Custom-menu,Two-columns, Fixed-width, custom-background
License:
License URI:
*/


/* ----------------------- SUMMARY -----------------------

- GENERAL LAYOUT
  - BODY
	- HEADINGS
	- PARAGRAPH,BLOCKQUOTE,CODE, 
  - ORDER LIST
  - ARROW LIST
  - CHECK LIST
  - BULLET LIST
  - DROPCAPS, PULLQUOTE
	- CLEAR FLOAT ELEMENTS
	- IMAGE ALIGNMENT &amp; STYLING;
  - CUSTOM MESSAGE STYLING
  - BUTTON

- WRAPPER
  - TOP WRAPPER
  - MAIN WRAPPER
  - BOTTOM WRAPPER 
  - CENTER 
  
- HEADER
  - HEADER WRAPPER
	- LOGO
  - SEARCH BOX
		
- SLIDESHOW

- FEATURES BOX
	
- HOMEPAGE CONTENT

- PAGE HEADING  

- PRODUCTS PAGE / TABLE PRICING

- PORTFOLIO PAGE
  - PORTFOLIO 1 COLUMN
  - PORTFOLIO 2 COLUMNS
  - PORTFOLIO 3 COLUMNS
  - PORTFOLIO 4 COLUMNS
  - PORTFOLIO 3 COLUMNS FILTERABLE
  - PORTFOLIO FILTER
    
- BLOG PAGE
  - BLOG LIST ITEMS
  - POST META BOX
  - AUTHOR BOX
  - COMMENTS LIST
  - COMMENT FORM 
  
- CONTACT PAGE
  - CONTACT FORM
  - CONTACT ADDRESS

- FAQ PAGE

- SIDEBAR
  - NEWS LIST
  - ITEM LIST
  - TWITTER WIDGET
  
- FOOTER
	- FOOTER BOX
  - ADDRESS LIST
  - COPYRIGHT
  
*/

/* Import CSS Reset File */
@import url("css/reset.css");
 

/* ----------------------- GENERAL LAYOUT -----------------------*/
body {
  background-color: #5D8500;
  background-image: url(images/pattern/grid2.png);
  background-repeat: repeat;
  font-family: arial, verdana, tahoma, helvetica;
  -webkit-font-smoothing: antialiased !important;
}
/* Heading */
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	color:#555555;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-size:36px; 
	line-height:36px; 
	margin-bottom:14px;
}
h2{
	font-size:30px; 
	line-height:30px; 
	margin-bottom:14px;
}
h3{
	font-size:24px;
    line-height:24px; 
	margin-bottom:12px;
}
h4{
	font-size:18px; 
	line-height:18px; 
	margin-bottom:12px;
}
h5{
	font-size:14px;
    line-height:16px; 
	margin-bottom: 12px; 
	padding:0px;
}
h6{
	font-size:12px; 
	margin-bottom: 12px; 
	padding:0px;
	letter-spacing: 1px;
}
/* links */
a,a:link,a:visited {
  color:#4F8C00;
  text-decoration:none;
}
a:hover{
  color:#555555;
}
a img, img {
  border:none
}

/* paragraphs,blockquote,code */
p {
    margin-bottom:12px;
    color:#666666;
    font-size: 12px;
    line-height: 21px;
}
p:empty {
	display: none;
}
  
blockquote {
  margin: 0 0 20px 0;
  color: #8a8a8a;
  background: url(images/quote.png) top left no-repeat;
  font-style: italic; 
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4em;
  font-size: 14px;
}
blockquote p {
  line-height: 1.4em;
  font-size: 14px;
}
code {
  background: #fafafa;
  padding: 5px 10px;
  display: block;
  font-size: 12px;
  color: #858585;
  margin-bottom: 10px;
  border: 1px dotted #eaeaea; 
  clear: both;   
}
pre{
  clear: both; 
  font: 11px Consolas, "Andale Mono", Courier, "Courier New", monospace; 
  background: url(images/pre_bg.gif) repeat; 
  border: 1px solid #d3d3d3;
  padding: 18px 20px 15px 20px;
  line-height: 19px;
  overflow:auto;
  overflow-Y: hidden;
  color: #555;
  margin: 0 0 20px 0;
}
ol,ul {
  margin: 20px 0 20px 20px;
  list-style-type: decimal;
}
ul {
  list-style-type: circle;
}
ol li, ul li {
  font-size: 12px;
  margin: 5px 0; 
  padding-bottom: 5px;
  color: #666666;
} 

/* Arrow List */
.arrowlist {
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
}
.arrowlist li {
  font-size: 12px;
  margin: 8px 0; 
  padding-left: 20px;  
  background: url(images/arrow.png) 3px 5px no-repeat;
  color: #666666;
  line-height: 18px;
}
/* Check List */
.checklist {
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
}
.checklist li {
  font-size: 12px;
  margin: 2px 0;
  padding-left: 25px;  
  background: url(images/tick.png) 0 -2px no-repeat;
  color: #666666;
  line-height: 18px;
}
/* Check List */
.bulletlist {
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
}
.bulletlist  li {
  font-size: 12px;
  margin: 2px 0;
  padding-left: 20px;  
  background: url(images/bullet.png) 0 .1em no-repeat;
  color: #757575;
  line-height: 18px;
}
/* Item List */
.itemlist {
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
}
.itemlist  li {
  font-size: 12px;
  margin: 2px 0;
  padding-left: 25px;  
  background: url(images/item.png) 0 5px no-repeat;
  color: #757575;
  line-height: 18px;
}
.starlist {
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
}
.starlist li {
  font-size: 12px;
  margin: 2px 0;
  padding-left: 25px;  
  background: url(images/star.png) 0 2px no-repeat;
  color: #7d7d7d;
  line-height: 18px;
}
/* Dropcap */
.dropcap{
	background:transparent url(images/big-bullet.png) no-repeat scroll -1px -1px;
	color:#ffffff;
	float:left;
	font-size:24px;
	height:41px;
	line-height:30px;
	margin-bottom:-10px;
	margin-right:10px;
	padding-top:5px;
	text-align:center;
	width:41px;
}
/* Pullquotes */

.pullquote_right,.pullquote_left{
	color:#9F9F9F;
	float:right;
  font-size: 14px;
	letter-spacing:0px;
	margin-bottom:0;
	margin-top:10px;
	margin-left:20px;
	padding:0 10px;
	width:33%;
  font-style: italic; 
  background: url(images/quote.png) top left no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pullquote_left{
  border-left: none;
	float:left;
	margin-left:0px;
	margin-right:10px;
  
}
/* Clear Floated Elements */

/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* Images Alignment &amp; Styling */
.alignleft {
  float: left;
  margin: 5px 12px 0 0;
}
i.alignleft {
    margin-bottom: 40px;
}
.alignright {
  float: right;
  margin: 5px  0 5px 12px;
}
.aligncenter {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  display: block; 
}
.imgbox {
  padding: 4px;
  background: #ffffff;
  border: 1px solid #ededed;
}
.imgbox2 {
  padding: 3px;
  background: #ffffff;
  border: 1px solid #ededed;
}
.divider {
  background: url(images/divider.jpg) bottom repeat-x;
  padding: 5px 0;
  margin-bottom: 10px;
  display: block;
}
/* Custom Message Styling */
.info {
  margin: 15px 0;
  font-size: 14px;
  color: #246EA7;
  padding: 15px 12px 15px 47px;
  background: #DFECF7 url(images/info.png) .5em .4em no-repeat;
  border: 1px solid #A7CEEC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa;  
} 
.error {
  margin: 15px 0;
  font-size: 14px;
  color: #C92036;  
  padding: 15px 12px 15px 47px;
  background: #FAE1E1 url(images/error.png) .5em .4em no-repeat;
  border: 1px solid #EDA8A8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa;   
} 
.warning {
  margin: 15px 0;
  font-size: 14px;
  color: #E08820;  
  padding: 15px 12px 15px 47px;
  background: #FDF4D7 url(images/warning.png) .5em .4em no-repeat;
  border: 1px solid #E8C779;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa;    
} 
.success, 
.success-message{
  margin: 15px 0;
  font-size: 14px;
  color: #84AF22;  
  padding: 15px 12px 15px 47px;
  background: #E6F2D2 url(images/ok.png)  .5em .4em no-repeat;
  border: 1px solid #96C24A;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa; 
}
.success-message{ 
  display: none; 
}
/*  Highlight Styles */

.highlight-yellow {padding:1px 4px;background-color:yellow;color:#111;}	
.highlight-dark{padding:1px 4px;background-color:#6a6a6a;color:#fff;}
.highlight-red{padding:1px 4px;background-color:#DE2D2D;color:#fff;}	
.highlight-green{padding:1px 4px;background-color:#A3CC29;color:#111;}	

/* Button */

img.readmore {
  position: relative;
  top: 5px;
  left: 8px;
  overflow: hidden;
}

/* Buttons */ 
a.button {
  display:inline-block;
  color:#fff;
  cursor:pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration:none;
  margin: 6px 0 10px;
  border: 1px solid #555555; 
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset; 
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.70);
  font-weight: normal !important;
}

a:hover.button {
  text-decoration:none;
}

.button.small {
  font-weight:bold;
  font-size:11px;
  padding: 2px 8px;
}

.button.medium {
  font-size:13px;
  font-weight:bold;
  padding:6px 14px;
}

.button.large {
  font-size:14px;
  font-weight:bold;
  padding:8px 18px 10px 18px;
}

.button.gray {
  background-color:#353535;
  background: -moz-linear-gradient(top, #4e4e4e, #353535) !important;
  background: -webkit-linear-gradient(top, #4e4e4e, #353535) !important;
  background: -o-linear-gradient(top, #4e4e4e, #353535) !important;
}

.button.white {
  background-color:#fafafa;
  background: -moz-linear-gradient(top, #fafafa, #f0f0f0) !important;
  background: -webkit-linear-gradient(top, #fafafa, #f0f0f0) !important;
  background: -o-linear-gradient(top, #fafafa, #f0f0f0) !important; 
  border: 1px solid #E3E3E3;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 100);
  color: #858585;
}
.button.white:hover {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  background: -moz-linear-gradient(top, #fafafa, #F5F5F5) !important;
  background: -webkit-linear-gradient(top, #fafafa, #F5F5F5) !important;
  background: -o-linear-gradient(top, #fafafa, #F5F5F5) !important;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 100);
  color: #757575;  
}
.button.red {
  background-color:#e62727;
  background: -moz-linear-gradient(top, #ef4646, #e62727) !important;
  background: -webkit-linear-gradient(top, #ef4646, #e62727) !important;
  background: -o-linear-gradient(top, #ef4646, #e62727) !important;
  border: 1px solid #DE0000;
}

.button.orange {
  background-color:#ff5c00;
  background: -moz-linear-gradient(top, #ff7b31, #ff5c00) !important;
  background: -webkit-linear-gradient(top, #ff7b31, #ff5c00) !important;
  background: -o-linear-gradient(top, #ff7b31, #ff5c00) !important;
  border: 1px solid #c2612b; 
}

.button.blue {
  background-color:#0F7896;
  background: -moz-linear-gradient(top, #1294B8, #1185A6) !important;
  background: -webkit-linear-gradient(top, #1294B8, #1185A6) !important;
  background: -o-linear-gradient(top, #1294B8, #1185A6) !important;
  border: 1px solid #0E738F; 
}

.button.green {
  background-color:#a2c437;
  background: -moz-linear-gradient(top, #b0d342, #a2c437) !important;
  background: -webkit-linear-gradient(top, #b0d342, #a2c437) !important;
  background: -o-linear-gradient(top, #b0d342, #a2c437) !important; 
  border: 1px solid #88A628;
}

/* Tables */
table {
  width:100%;
  margin:0 0 20px;
}

table th {
  color:#fff;
  text-shadow:0 1px 1px rgba(0,0,0,0.25);
  font-size:14px;
  letter-spacing:-1px;
  text-align:left;
  padding:12px;
  border: 1px solid #cacaca;
}

table td {
  background-color:#f0f0f0;
  color:#828282;
  text-align:left;
  padding:12px;
  font-size: 12px;
  border: 1px solid #dadada;
}

table td.highlight {
  color:#fff;
  font-weight:700;
}

.table {
  border:1px solid #cacaca;
}
.table-green table {
  border:1px solid #749707;
}

.table-green table tr th {
  background-color:#91bd09;
}

.table-cyan table {
  border:1px solid #389f9f;
}

.table-cyan table tr th {
  background-color:#46C7C7;
}

.table-brown table {
  border:1px solid #630;
}

.table-brown table tr th {
  background-color:#804000;
}

.table-gold table {
  border:1px solid #aa8012;
}

.table-gold table tr th {
  background-color:#D4A017;
}

.table-blue table {
  border:1px solid #008abe;
}

.table-blue table tr th {
  background-color:#00ADEE;
}

.table-yellow table {
  border:1px solid #cc9111;
}

.table-yellow table tr th {
  background-color:#ffb515;
}

.table-magenta table {
  border:1px solid #87013c;
}

.table-magenta table tr th {
background-color:#A9014B;
}

.table-orange table {
  border:1px solid #cc4a00;
}

.table-orange table tr th {
  background-color:#ff5c00;
}

.table-red table {
  border:1px solid #b81f1f;
}

.table-red table tr th {
  background-color:#e62727;
}

.table-gray table {
  border:1px solid #525252;
}

.table-gray table tr th {
  background-color:#666;
}

.table-black table {
  border:1px solid #292929;
}

.table-white .table th {
  color:#666;
}

.table-white table {
  border:1px solid #ccc;
}

.table-white table tr th {
  background-color:#FFF;
}

table tr.even td,table tr.odd td {
  background-color:#fff;
}

table tr td.highlight,.table-black table tr th {
  background-color:#333;
}

/* ----------------------- GRID -----------------------*/
.col_12,
.maincontent .col_12,
.col_13,
.maincontent .col_13,
.col_23,
.maincontent .col_23,
.col_14,
.maincontent .col_14,
.col_34,
.maincontent .col_34 {
    display: inline;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.col_12_last,
.maincontent .col_12_last,
.col_13_last,
.maincontent .col_13_last,
.col_14_last,
.maincontent .col_14_last,
.maincontent .col_34.last,
.maincontent .col_23.last {
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.col_12  {
  max-width: 48.3%;
}
.col_12_last  {
  width: 48.3%; 
}
.col_13 {
  width: 31.1%; 
}
.col_13_last {
  width: 31.1%; 
}
.col_23 {
  width: 65.5%; 
}
.col_14  {
  width: 22.5%; 
}
.col_14_last  {
  width: 22.5%; 
}
.col_34  {
  width: 74.1%; 
}

/* Columns Inner */
.maincontent .col_12 {
  max-width: 47.6%;   
  margin-bottom: 5px;
}
.maincontent .col_12_last {
  width: 47.6%;
  margin-bottom: 5px;   
}
.maincontent .col_13 {
  width: 30.1%;   
  margin-bottom: 5px;
}
.maincontent .col_13_last {
  width: 30.1%;   
  margin-bottom: 5px;
}
.maincontent .col_23 {
  width: 65.1%;   
  margin-bottom: 5px;
}
.maincontent .col_14 {
  width: 21.4%;   
  margin-bottom: 5px;
}
.maincontent .col_14_last {
  width: 21.4%;   
  margin-bottom: 5px;
}
.maincontent .col_34 {
  width: 73.8%; 
  margin-bottom: 5px;
}
.maincontent .col_34.last {
  width: 73.8%; 
  margin-bottom: 5px;
}
/* ----------------------- WRAPPER -----------------------*/
#wrapper {  
  width: 976px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:20px;
}
#topwrapper {
  height: 19px;
  width: 976px;
  background: url(images/topwrapper.png) no-repeat;
}
#mainwrapper {
  width: 976px;
  background: url(images/mainwrapper.png) repeat-y;
}
#bottomwrapper {
  margin: 0 auto;
  height: 55px;
  width: 976px;
  background: url(images/bottomwrapper.png) bottom center no-repeat;
}
.center {
  margin : 0 auto;
  width: 900px;
}

/* ----------------------- HEADER -----------------------*/
#header {
  width: 960px;
  height: 42px;
  padding-bottom: 39px;
  background: #ffffff url(images/bgheader.jpg) bottom center repeat-x;
  margin: 0 auto;
}
#headerright {
  padding-top: 14px;
  width: 670px;
  float: right;
}
#logo {
  margin-top: 10px;
  float: left;
  width: 220px;
}
.searchbox {
  width: 192px;
  height: 37px;
  float: right;
}
.searchinput {
  border: none;
  height: 17px;
  width: 135px;
  background: url(images/searchinput.png) left center no-repeat;  
  float: left;
  padding: 10px;
  color: #cacaca;
}
.searchsubmit {
  height: 37px;
  width: 36px;
  background: url(images/searchsubmit.png) left center no-repeat;
  float: left;
  border: none;
  cursor: pointer;
}
.header-contact-box {
    margin: 5px 0;
    float: right;
}
.header-contact {
    margin: 0;
    float: right;
    width: 230px;
}
.header-contact li {
    color: #ffffff;
    display: inline;
    margin: 0 10px 0 0;
    font-size: 13px;
}
.header-contact li a,
.header-contact li i {
    color: #ffffff;
}
/* ----------------------- Main Menu -----------------------*/
.slicknav_menu{display:none;}

#mainmenu ul {
  float: right;
  margin-top: 0;
  margin-left: 0px;
}

#mainmenu ul li {
  color: #777777;
  list-style:none;
  position:relative;
  padding: 8px 16px;
  float:left;
  font-size:16px;
}

#mainmenu ul li a {
font-size:15px;
color: #666666;
text-decoration:none;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


#mainmenu ul li:hover, #mainmenu li.current_page_item,
#mainmenu li.current_page_parent,
#mainmenu li.current-menu-parent,
#mainmenu li.current-menu-item,
#mainmenu li.current-menu-ancestor{
  text-decoration:none;
  color:#4F8C00;
}

#mainmenu ul li:hover > a,
#mainmenu li.current_page_item > a,
#mainmenu li.current_page_parent > a,
#mainmenu li.current-menu-parent > a,
#mainmenu li.current-menu-ancestor > a{
  color:#4F8C00;
}


#mainmenu li.current_page_item a li a, #mainmenu li.current_page_item a li a:hover,
#mainmenu li.current_page_parent a li a, #mainmenu li.current_page_parent a li a,
#mainmenu li.current-menu-parent a li a, #mainmenu li.current-menu-parent a li a,
#mainmenu li.current-menu-item a li a, #mainmenu li.current-menu-item a li a {
  text-decoration:none;
  color:#4F8C00;
}

#menu li li {
  border-right:none;
  position:relative;
  z-index:100;
  margin:0!important;
  float:none;
  color: #8a8a8a;
  padding: 0px !important;
  padding: 10px !important;
  border-bottom: 1px solid #ffffff;
  background: #fafafa url(images/bg-dropdown.png) bottom left repeat-x;
}
#menu li li:last-child {
  border-bottom: none; 
}
#menu ul {
  display:none;
  position:absolute;
  left:0px;
  z-index:9999;
  padding-top: 14px;
  background: url(images/topmenu.png) top left no-repeat;
  left: 18px;
}

#menu ul ul, #menu ul ul ul {
  display:none;
  position:absolute;
  top:0px;
  left:160px;
  width:160px;
  padding-top:0px;
}
#menu li ul a,#menu li ul a:visited {
  width:140px;
  font-size:13px;
  line-height:18px;
  z-index:190;
  text-decoration:none;
  display:block;
}

/* ----------------------- SLIDESHOW -----------------------*/
#slide-wrapper {
  padding: 0;
  margin: 0 auto !important;
  width: 960px;
  height: 344px;
  border-top: 4px solid #61AB00;
  border-bottom: 2px solid #61AB00;
}
.static-block {
  float: left;
  width: 620px;
  height: 345px;
}
.static-block img, 
.static-block iframe {
    width: 100%;
    height: 100%;
}
.static-text {
  padding: 20px;
  float: left;
  width: 300px;
  height: 305px;
  background: #6EBA0B url(images/pattern/grunge.png) repeat;
}
.static-text h3 {
  color: #ffffff; 
}
.static-text p {
  color: #ffffff; 
}
/* ----------------------- FEATURES BOX -----------------------*/
.featuresbox,
.quotebox {
  height: 90px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #61AB00;
  background-color: #70C700;
  background-image: url(images/green.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;   
}
.featuresbox ul  {
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}
.featuresbox ul li {
  float: left;
  width: 205px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 15px;  
  background: url(images/divider-green.png) center left no-repeat;
  overflow: hidden;
}

.featuresbox ul li i {
    margin-top: 15px;
    margin-right: 10px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.featuresbox ul li:hover  i {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
}

.featuresbox ul li i.alignleft {
    margin-bottom: 0px;
}
.featuresbox ul li i.alignright {
    margin-right: 0px;
    margin-bottom: 0px;      
}
.featuresbox ul li p {
  line-height: 16px; 
  font-size: 11px;
  color: #ffffff; 
  margin-bottom: 0px;
}
.featuresbox ul li:first-child {
  margin-left: 0;
  padding-left: 0; 
  background: none;
}
.featuresbox ul li.first {
  margin-left: 0;
  padding-left: 0; 
  background: none;
}
.featuresbox ul li.last,
.features-2col ul li.last,
.features-3col ul li.last {
  margin-right: 0;
  padding-right: 0;
  float: right;
}
.featuresbox ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  float: right;  
}
.featuresbox ul li img {
  margin: 10px 5px 0 0 ;
  padding: 0;
  float: left; 
}
.featuresbox ul li h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #ffffff; 
}
.featuresbox ul li h4 a {
  color: #ffffff; 
}
ul.features-2col li {
  width: 435px !important;
}
ul.features-3col li {
  width: 283px !important;
}
.featuresbox p.feat-warning {
    width: 100%;
    padding: 30px 20px;
    color: #ffffff;
    font-size: 16px;
}
/* Quotebox */
.quotebox,
.content_quotebox {
  width: 920px;
  padding: 10px 20px;
  height: 71px;
  display: block;
  clear: both;
}
.content_quotebox {
  width: auto;
  padding: 5px 25px;
  height: auto;
  display: block;
  clear: both;
  margin-bottom: 30px;
  background: url(images/quote.png) 0 15px no-repeat;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.quotebox h3,
.content_quotebox h3 {
  margin-top: 8px;
  display: block;
  text-align: center;
  color: #ffffff;  
}
.content_quotebox h3 {
  color: #858585;  
}
/* ----------------------- PAGE HEADING -----------------------*/
#page-heading {
  margin: 0 auto;
  width: 960px;
  height: 182px;
  border-top: 4px solid #61AB00;
  border-bottom: 2px solid #61AB00;  
  background: #61AB00;
}
#page-heading img {
  position: absolute;
} 
.heading-text {
  padding: 15px 20px;
  width: 260px;
  position: relative;
  left: 0;
  top: 30px;
  background-color: transparent;
  background-image: url(images/transparent2.png);
  background-repeat:  repeat;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;  
}
.heading-text-right {
  padding: 15px 20px;
  width: 260px;
  position: relative;
  right: 0;
  top: 30px;
  background: url(images/transparent.png) repeat;  
  float: right;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;   
}
.heading-text h3,
.heading-text-right h3 {
  color: #ffffff;
  margin-bottom: 0;
}
.heading-text-right h3 {
  text-align: right; 
}
.heading-text p, 
.heading-text-right p{
  color: #dadada;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 16px;
}
.heading-text-right p{
  text-align: right; 
}
.breadcrumbs {
  border-bottom: 1px solid #EAEAEA;
  margin: 5px 0 30px 0;
  text-align: right;
  font-size: 11px;
  color: #666666;
  padding-bottom: 5px;
  width: 100%;
}
.breadcrumbs p {
  margin-bottom: 0;
  font-size: 11px;
  color: #666666;
}
.breadcrumbs-plus {
}

.breadcrumbs-separator {
}
/* ----------------------- HOMEPAGE CONTENT -----------------------*/
.maincontent {
  width: 630px;
  float: left;
}
.maincontent.right {
  width: 630px;
  float: right;
}
.right {
  padding: 0;
  float: right;
}
.maincontent-full {
  margin-top: 20px;
  width: 100%;
}
.mainbox img { 
}
.mainbox h4,
.mainbox2 h4 {
  color: #4F8C00;
  margin-bottom: 10px;
}
.mainbox h4 a,
.mainbox2 h4 a {
  color: #4F8C00;
}
.mainbox h4 a:hover,
.mainbox2 h4 a:hover {
  color: #555555;
}
.mainbox p, 
.mainbox2 p {
  margin-bottom: 5px; 
}
.mainbox2 {
}

.boximg {
  margin-top: 5px;
  background: url(images/bgboximg.png) center no-repeat;
  width: 97px;
  height: 99px;
  float: right;
  margin-left: 10px;
  margin-bottom: 0;
}
.boximg2 {
  margin-top: 5px;
  background: url(images/bgboximg2.png) center no-repeat;
  width: 193px;
  height: 95px;
  margin-bottom: 0;
}
.boximg-pad {
  padding: 6px;
}
.boximg-pad2 {
  padding: 8px 7px;
}
.spacer {
  clear: both;
  display: block;
  padding-bottom: 10px;
}
.divider {
  clear: both;
  display: block;
  padding-bottom: 1px;
  margin-bottom: 25px;
  border-bottom: 1px dotted #dadada;
}
.box-left {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
.homepage-widget {
  margin-bottom: 20px;
}
/*--------------------------------------------------------------------
  Pricing Table
----------------------------------------------------------------------*/
.pricing-wrapper {
  padding: 0 0 10px;
  float: left;
  width: 100%;
}

.pricing-wrapper .pricing-column:first-of-type {
  margin-left:1px;
}

.pricing-column {
  margin:20px 0px 25px 0px;
  background-color:#333333;
  -webkit-box-shadow:0 0 3px rgba(0,0,0,.25);
  -moz-box-shadow:0 0 3px rgba(0,0,0,.25);
  box-shadow:0 0 3px rgba(0,0,0,.25);
  float:left; 
  width: 100%;
}
.third-col .pricing-column {
  width:33.3%;
}
.fourth-col .pricing-column {
  width:25%;
}
.fifth-col .pricing-column {
  width:20%;
}
.pricing-column:first-of-type {
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.pricing-column:last-of-type {
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
.pricing-title {
  color:#ffffff;
  text-shadow:0px 1px 1px #323232;
  text-align:center;
  padding:14px 0 6px;
}

.pricing-price {
  background-color:#555555;
  background-image: url(images/price-glow.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  border-top:1px solid #666666;
  text-align:center;
  padding:20px 0 14px;
}

.pricing-price h1 {
  color:#fff;
  text-shadow:0px 1px 1px #323232;
  margin-bottom: 6px;
}

.pricing-price span {
  color:#ffffff;
  text-shadow:0px 1px 1px #323232;
  font-style:italic;
  font-family:Georgia, "Times New Roman", Times, serif;
  line-height:18px;
  margin-bottom: 0 !important;
  font-size: 12px;
  font-weight: normal;
}

.pricing-feature {
  background-color:#fff;
  text-align:center;
  margin:0 auto;
  padding:0 8%;
}
.pricing-feature ul {
  margin: 0 !important;
}
.pricing-feature li {
  border-bottom:1px solid #e4e4e4;
  margin:0;
  padding:8px 6px;
  color: #868686;
  font-size: 12px !important;
  line-height: 18px;
  list-style-type: none;
}
.pricing-feature li:last-of-type {
  border: none;
}
.pricing-description {
  padding: 16px 10px;
  color: #636363;
  text-align: center;
  background-color: #cacaca;
  text-shadow: 0px 1px 1px #D9D9D9;
}
.feature-package .pricing-description {
  padding : 16px 10px;  
}

.pricing-button {
  text-align:center;
  margin-top:-1px;
  background-color:#F2F2F2;
  border:1px solid #F5F5F5;
  padding: 10px 0 0 0;
  float:left; 
  width: 100%;
}
.pricing-button .button {
  margin-left: 10%;
}
.feature-package {
  position:relative;
  z-index:100;
  margin:10px -1px 0 0px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:0 0 6px rgba(0,0,0,.40);
  -moz-box-shadow:0 0 6px rgba(0,0,0,.40);
  box-shadow:0 0 6px rgba(0,0,0,.40);
}
.feature-package .pricing-title {
  padding:14px 0 6px;
  font-size: 20px;
}
.feature-package .pricing-price {
  padding:20px 0 24px;
}
.feature-package .pricing-title,
.feature-package .pricing-price h1 span {
  color: #ffffff;
}
.feature-package .pricing-button {
  padding:18px 0 2px;
}

.feature-package .pricing-button a {
  margin-top:5px;
}

.brown-pr {
  background-color:#812602;
}

.brown-pr .pricing-price {
  background-color:#b3470b;
  border-top:1px solid #c9500c;	
}

.orange-pr {
  background-color:#e25100;
}

.orange-pr .pricing-price {
  background-color:#fe6c1a;
  border-top:1px solid #FF7F36;	
}

.green-pr {
  background-color:#779710;
}

.green-pr .pricing-price {
  background-color:#9ec032;
  border-top:1px solid #ABC947;	
}

.blue-pr {
  background-color:#005A73;
}

.blue-pr .pricing-price {
  background-color:#0F7896;
  border-top:1px solid #118AAB;	
}

.red-pr {
  background-color:#9C0909;
}

.red-pr .pricing-price {
  background-color:#BA0000;
  border-top:1px solid #CF0000;	
}

.orange-pr .pricing-title, .orange-pr .pricing-price p,
.green-pr .pricing-title, .green-pr .pricing-price p,
.blue-pr .pricing-title, .blue-pr .pricing-price p,
.red-pr .pricing-title, .red-pr .pricing-price p {
  color:#ffffff;
}

/* ----------------------- PORTFOLIO -----------------------*/

/* Portfolio 1 Column */
ul.portfolio-1col, 
ul.portfolio-2col,
ul.portfolio-3col,
ul.portfolio-4col,
ul.portfolio-4col-filterable {
    list-style-type: none;
    margin-left: 0;
}
ul.portfolio-1col li {
  margin: 10px 0 15px 0;
  float: left;
}
/* Portfolio 2 Columns */
ul.portfolio-2col li {
  width: 440px;
  margin: 10px 20px 10px 0;
  float: left;
}
ul.portfolio-2col li.last {
  width: 440px;
  margin-right: 0;
  float: right;
}
/* Portfolio 3 Columns */
ul.portfolio-3col li {
  width: 285px;
  margin: 10px 20px 10px 0;
  float: left;
  height: 280px;
}
ul.portfolio-3col li.last {
  width: 285px;
  margin-right: 0;
  float: right;
}
/* Portfolio 4 Columns */
ul.portfolio-4col li {
  width: 209px;
  margin: 10px 20px 10px 0;
  float: left;
}
ul.portfolio-4col li.last {
  width: 209px;
  margin-right: 0;
  float: right;
}
/* Portfolio 4 Columns Filterable */
ul.portfolio-4col-filterable li {
  width: 204px;
  margin: 10px 21px 10px 0;
  float: left;
}
ul.portfolio-1col li p,
ul.portfolio-2col li p,
ul.portfolio-3col li p,
ul.portfolio-4col li p,
ul.portfolio-4col-filterable li p {
  margin-bottom: 5px; 
}

/* Portfolio Image Block */
.portfolio-blockimg {
  float: left;
  width: 440px;
  margin-right: 10px;
}
.portfolio-blockimg-last {
  float: right;
  width: 440px;
  margin-right: 0;
}
.portfolio-imgbox1 {
  width: 440px;
  height: 207px;
  background: url(images/bg-portfolio1.png) center no-repeat;
  margin-bottom: 5px;
}
.portfolio-imgbox2 {
  width: 285px;
  height: 145px;
  background: url(images/bg-portfolio2.png) center no-repeat;
  margin-bottom: 5px;
}
.portfolio-imgbox3 {
  width: 209px;
  height: 105px;
  background: url(images/bg-portfolio3.png) center no-repeat;
  margin-bottom: 5px;
}
.portfolio-content1 {
  width: 440px;
  float: right;
  margin-left: 10px;
}
.portfolio-single-box {
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(176,176,176,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(176,176,176,1);
  box-shadow: 0px 1px 2px 0px rgba(176,176,176,1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;     
  padding: 12px 12px 1px 12px;
  margin-bottom: 20px;     
}
.pf-video-wrapper {
  margin: 9px 8px;
}
#portfolio-slider {
  margin: 0px 12px 12px 2px;
  position:relative;
  width: 872px;
  height: 310px;
  background: #ffffff url(../images/loading.gif) no-repeat 50% 50%;
}
#portfolio-slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#portfolio-slider a { 
  border:0;
  display:block;
}
.zoom {
  background: url(images/zoom.png) 50% 50% no-repeat;
}
.play {
  background: url(images/play.png) 50% 50% no-repeat;  
}

#pf-video-wrapper{}
.video-container{
position: relative;
padding-bottom: 56.25%; /* 16:9 */
height: 0;
margin-bottom:20px;
}

.video-container iframe{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
img.single-image {
    margin-bottom: 10px;
}
/* Random Portfolio */
.random-portfolio {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

/* Portfolio Category Filter */
#filter {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font: normal 11px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    float: left;
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
}
#filter li {
	color: #a1a2a2;
	font-weight: bold;
	margin-right: 5px;
  float: left;
}
#filter li a {
	margin: 2px;
	padding: 5px 8px;
	border: 1px solid #dadada;		
	color: #a1a2a2;
  text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
#filter li a:hover,
#filter li a.current, 
#filter li.current a,
#filter li.current-cat a {
	background-color: #e0e0e0;
	color: #8a8a8a;
	border: 1px solid #dadada;
	text-decoration: none;
}

/* ----------------------- BLOG PAGE -----------------------*/
.postbox h3 {
  margin-bottom: 10px; 
}
/* Blog List */ 
ul#listlatestnews {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
}
ul#listlatestnews li {
  margin-bottom: 20px;
} 
.boximg-blog {
  margin-top: 5px;
  background: url(images/bgboximg.png) center no-repeat;
  width: 97px;
  height: 99px;
  float: left;
  margin-right: 10px;
}
.postbox {
  width:510px;
  float:left;
  margin-left:10px;  
}
.postbox p {
  margin-bottom: 5px;
} 
/* Blog Metapost */
.metapost {
  border-top: 1px dotted #eee;
  border-bottom: 1px dotted #eee;
  margin: 10px 0;
  font-size: 11px;
  padding: 8px 5px;
  color: #707070;
  background: #fafafa;
}
.metapost span {
  margin: 0 0 0 10px;
}
.metapost span.first {
  margin-left: 0; 
}
/* Author Box */
#authorbox {
  background: #fafafa;
  border: 1px dotted #eee;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#authorbox h4{
  vertical-align: top;
  margin-bottom: 5px;
}
#authorbox .blockavatar {
  width: 60px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}
#authorbox img {
  margin-top: 0;  
  margin-bottom: 0;
  border: none;
}
#authorbox .detail {
  float: left;
  width: 500px;  
}
#authorbox .detail p {
  margin-bottom: 0;
}
.navigation {
  margin: 20px 0;
}
.navigation a {
  font-size: 12px; 
}
.bypostauthor {} 
/* Comment List */
#listcomment {
	padding: 0;
	margin: 0 0 20px 0;
}
#listcomment li {
  display: block;
	padding: 11px 0;
	margin: 0;
	background: none;
	border-bottom: 1px solid #eee;
}
.titlecomment {
	width: 673px;
}
.titlecomment img {
	float: left;
	padding: 3px;
	border: 1px solid #d9d9d9;
	margin: 0 10px 0 0;
}
.titlecomment h4 {
	color: #333;
	padding: 7px 0 0 0;
	margin: 0;
}
.datecomment {
	font-size: 11px;
	color: #858585;
}
#listcomment li p {
	font-size: 12px;
	padding: 10px 0 0 0;
	margin-bottom: 0;
}

/* Comment Form */
#commentform label {
  font-size: 12px;
  display: block;
  text-align: left;
  color: #666666;
  margin-bottom: 10px;
}
.leftcomment {
  width: 285px;
  float: left;
}
.rightcomment {
  float: left;
}
.comment-input {
  color: #666666;
  padding: 7px;
  display: block;
  text-align: left;  
  height: 19px;
  width: 250px;
  border: 1px solid #eaeaea;
  margin-bottom: 12px;
}
.comment-textarea {
  color: #666666;
  padding: 7px;
  display: block;
  text-align: left;  
  height: 160px;
  width: 307px;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}
.comment-submit {
  display: block;
  position: relative;
  top: 0;
  left: 220px;
  background: url(images/comment-submit.png) no-repeat;
  color: #d4d4d4;
  border: none;
  width: 106px;
  height: 32px;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.comment-heading {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;  
}

/* Pagination  */
.wpapi_pagination,
.pagination {
  clear:both;
  left: 35%;
  padding:20px 0;
  position:relative;
  font-size:12px;
  line-height:13px;
  font-weight: bold;
}
 .wpapi_pagination span, .wpapi_pagination a,
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 10px 2px 0;
  padding:8px 10px;
  text-decoration:none;
  width:auto;
  color:#666666;
  background: url(images/paging.jpg) repeat-x;
  -webkit-box-shadow:0 0 4px #aaaaaa; 
  -moz-box-shadow: 0 0 4px #aaaaaa; 
  box-shadow:0 0 4px #aaaaaa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	border-bottom-radius:4px;	  
}
 .wpapi_pagination a:hover,
 .pagination a:hover{
  color:#fff;
  background: #4F8C00;
}
.wpapi_pagination .current,
.pagination .current{
  padding:8px 10px;
  background: #4F8C00;
  color:#fff;
}

/* Testimonials */
#testilist {
  margin: 10px 0;
}
#testilist li {
  margin-bottom: 20px;
  border-bottom: 1px dotted #eaeaea;
}

/* ----------------------- CONTACT PAGE -----------------------*/
/* Contact Form */
#conctactleft {
  border-right: 1px dotted #eaeaea;
  width: 420px;
  float: left;
  padding-right: 25px;
}
#maincontactform {
  margin: 20px 0;
}
#maincontactform label {
  font-size: 12px;
  color: #5a5a5a;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}
.textfield {
  margin-bottom: 10px;
  padding: 5px;
  color: #666666;
  width: 400px;
  height: 22px;
  border: 1px solid #eaeaea;
  clear: both;
  float: left;
}
.textarea {
  padding: 5px;
  color: #666666;
  width: 400px;
  height: 150px;
  border: 1px solid #eaeaea;
  clear: both;
  float: left;
}
.require {
  display: inline;
  float: left;
  color: #f00;
  font-weight: bold;
  margin-left: 2px;
  font-size: 10px;
}
.loading {
  margin-top: 15px;
  background: url(images/loading.gif) top left no-repeat;
  padding-left: 32px;
  font-size: 12px;
  color: #8f8f8f;
  margin-left: 10px;
  float: left;
  padding-bottom: 15px;
}

/* Contact Address */
#contactright {
  width: 430px;
  float: left;
  margin-left: 20px;
}
.contactinfo {
  margin-top: 20px;
}
.contactinfo li {
  clear: both;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  color: #666666;
  font-size: 12px;
  line-height: 18px;
}
#map {
  width: 424px;
  height: 246px;
}
.gmap_marker {
  font-size: 12px;
  line-height: 18px;
}

/* ----------------------- FAQ PAGE -----------------------*/
.toggle_wrapper {
  margin-bottom: 30px; 
}
.toggle {
  margin-bottom: 5px;
}
.toggle_title {
	margin:0;
	line-height:18px;
	background: url(images/help.png) right no-repeat;
	cursor:pointer;
	border-bottom:1px solid #e4e4e4;
	padding:1px 0px 9px 0px;
	clear:both;	
  color: #4F8C00;
}
.toggle_active {
	background: url(images/yes.png) right no-repeat;
}
.toggle_content {
	display:none;
  border: 1px dotted #eaeaea;
	background-color:#f5f5f5;
	margin:-5px 0px 10px 0px;
	padding:11px 13px 1px 13px;	
}

/* ----------------------- SIDEBAR -----------------------*/
#sidebar-wrapper {
    margin-top: 30px;  
  margin-bottom: 30px;  
}
.sidebar-box {
    margin-bottom: 30px;
}
.sidebar {
  width:  241px;
  float: right;
  margin: 0px 0px 0px 20px;
}
.sidebar.left {
  float: left;  
  margin: 0px 20px 0px 0px;
}
.sidebar p {
  margin-bottom: 5px;
}
.sidebartop {
  width:  241px;
  height: 11px;
  background: url(images/sidebartop.png) top no-repeat;
}
.sidebarmain {
  width:  241px;
  background: url(images/sidebarmain.png) center center repeat-y;
}
.sidebarbottom {
  width:  241px;
  height: 13px;
  background: url(images/sidebarbottom.png) bottom no-repeat;
}
.sidebarcontent {
  padding: 5px 25px 5px 25px;
}
.sidebarcontent h4 {
  margin-bottom: 5px;
}
.sidebarheading {
  padding-bottom: 20px;
  background: url(images/bgheading.png) bottom center no-repeat;
}
.nospace {
  margin-bottom: 0; 
}
.sidebar ul {
    list-style-type: none;
}
/* Latest News Box */
ul.latestnews {
  margin: 0 0 10px 0;
  padding: 0;
}
ul.latestnews li, 
.sidebarcontent ul.latestnews li{
  margin-top: 0;
  margin-bottom: 5px;
  background: none;
  border: none;
  padding-bottom: 0;
}
ul.latestnews li a {
  font-size: 12px;
  line-height: 16px;
}
ul.latestnews li p.posteddate {
  margin-top: 5px;
  border-top: 1px dotted #d5d5d5;
  font-size: 11px;
  color: #8a8a8a;
  margin-bottom: 0;
}
.button-more {
  background: url(images/arrow_grey.png) left center no-repeat;
  padding-left: 22px;
  font-size: 11px;
}
img.arrow-icon {
  position: relative;
  top: 5px;
  right: 0;
  left: 10px;
}
/* Unorderlist Box */
ul.sidelist,
.sidebarcontent ul{
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
}
ul.sidelist li,
.sidebarcontent ul li {
   margin: 10px 0;
   padding-bottom: 10px;
   border-bottom: 1px solid #eaeaea;
   background: url(images/arrow.png) 100% 0 no-repeat;
   line-height: 18px !important;
}
ul.sidelist li a,
.sidebarcontent ul li a {
   padding-right: 26px;
   font-size: 12px;
   display: block;
}
p.testiname {
  text-align: right;
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}

/* Twitter Widget */
.twitter_icon {
  position: relative;
  top: 8px;
  left: 0;
  margin-right: 5px;
}
p.loading {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url(images/loading.gif) 1em center no-repeat;
}
ul#twitter_update_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul#twitter_update_list li {
	margin: 5px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #eaeaea;
	font-size: 12px;
	color: #868686;
	line-height: 1.4em;
  background-image: none;
}
ul#twitter_update_list li a {
  background: none;
  padding: 0;
  display: inline;
}
ul#twitter_update_list li span {
	display: block;
}
ul#twitter_update_list li span a {
}
ul#twitter_update_list li span a:hover{
}
ul#twitter_update_list li.firstTweet {
}
ul#twitter_update_list li.lastTweet {
	border-bottom: 1px solid #eaeaea;
}
.footerbox ul#twitter_update_list li {
    color: #ffffff;
  font-size: 11px;
  border-bottom: 1px dotted #cacaca;
}

/* Flickr Gallery */
.flickrgallery {}
.flickrgallery img {
  float: left;
  margin:0 8px 10px 0;
}
.flickrgallery .flickr_badge_image  { 
  float: left; margin: 0; padding:0; 
}
.flickrgallery a img  { 
  float: left;  
  padding: 2px;
  background: #ffffff;
  width:48px; 
  height:48px;
  border: 1px solid #dadada; 
}
.flickrgallery a:hover img {
  background: #dadada; 
}
/* ----------------------- FOOTER -----------------------*/
#footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* Footer Box */
.footerbox {
  float: left;
  margin-right: 20px;
  width: 210px;
}
.footerbox-1col {
  width: 880px;
}
.footerbox-2col {
  width: 420px;
}
.footerbox-3col {
  width: 285px;
}
.footerbox h4 {
  margin-bottom: 15px;
  color: #ffffff;
}
.footerbox a,
.footerbox li a {
  color: #ffffff; 
}
.footerbox a:hover {
  color: #dddddd; 
}
.footerbox ul {
  margin: 0;
  padding: 0; 
  list-style-type: none;
}
.footerbox ul li {
  margin: 8px 0;
  padding-bottom: 10px; 
  color: #ffffff;
  font-size: 11px;
  border-bottom: 1px dotted #cacaca;
}
.footerbox p {
  font-size: 11px;  
  line-height: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}
.box-last {
  float: right;
  margin-right: 0;
}
/* Address List */
ul.addresslist {
  margin: 0;
  padding: 0;
}
ul.addresslist li  {
  line-height: 18px;
  margin: 4px 0;
  padding-bottom: 4px;
}
.sidebarcontent ul.addresslist li {
  font-size: 12px;
  color: #666666;
  background: none;
}
.footerbox ul.social-links {
  margin: 10px 0;
  padding: 0;
  display: block;
}
.footerbox ul.social-links li {
  border: none;
  margin:0 2px 0 0;
  padding: 0;
  float: left;
}
.footerbox ul.social-links li a  {
  background: none; 
  margin: 0;
  padding: 0;
}
.bottom {
  padding: 5px;
  width: 890px;
  height: 31px;
  background: url(images/bg-copyright.png) center no-repeat;
  margin: 20px 0;
  display: block;
}
.footermenu {
  float: left;
  width: 500px;
  margin-left : 10px;
}
.footermenu ul {
  margin: 0;
}
.footermenu ul li {
  display: inline;
  float: left;
  margin: 6px 6px 6px 10px;
}
.footermenu ul li a {
  color: #eaeaea;
  font-size: 11px; 
  padding-right: 15px;
  border-right: 1px dotted #cacaca;
}
.footermenu ul li a:hover {
  color: #ffffff; 
}
/* Copyright */
.copyright {
  width: 300px;
  display: block;
  text-align: right;
  float: right;
  margin-right: 15px;
}
.copyright p {
  margin: 5px 0;
  color: #eaeaea;
}
.copyright p a {
  color: #ffffff;
}

/* Native Wordpress Styling */

.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.sticky {
}
.gallery {
}
.gallery-caption {
}
/* Front Tabs */
.tabs-wrapper {
  margin: 15px 0;
}
ul.tabs {
	margin:0px 0px 0px 1px;
	padding: 0;
	float: left;
	list-style: none;
	height: 31px;
	border-bottom: 1px solid #dbdbdb;
	border-left:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: auto;
	float:left;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin:0px 0px -1px -1px;
	background-image:url(images/bg-dropdown.jpg);
	background-repeat:repeat-x;
	overflow: hidden;
	position: relative;	
}
ul.tabs li a {
	text-decoration: none;
	color: #7d7b7b;
	display: block;
	font-size: 12px;
    font-weight: bold;
	padding: 1px 26px;
	outline: none;
}
ul.tabs li a:hover {
	background-image:url(images/bg-dropdown.jpg);
	background-repeat:repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}	
html ul.tabs li.current, html ul.tabs li.current a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
    padding-bottom: 1px;
    color: #5a5a5a;
}
.tab_container,
.panes {
	border: 1px solid #dbdbdb;
	border-top: none;
	clear: both;
	float: left; 
	width: auto;
	background: #fff;
  width: 100%;
  padding-bottom: 10px;
  font-size: 12px;
  color: #666666;
}
.tab_content,
.pane {
	padding: 18px 20px 8px 20px;
  border-top: 1px solid #dbdbdb;
}
.tab_content p {
  font-size: 12px;
	padding-top: 5px;
  color: inherit;
}
.tab_content img {
	float: left;
	margin: 0 18px 18px 0;
	padding: 0px 5px 0px 5px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('images/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('images/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('images/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('images/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/*
Team List
*/

.team-wrapper {
    position: relative;      
}
.team-wrapper-page {
    
}
.team-wrapper-page img,
.team-wrapper img {
    border-top: 2px solid #4F8C00;
    max-width: 100%;
    max-height: 100%;
    /* Webkit for Chrome and Safari */
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.team-wrapper-page:hover img,
.team-wrapper:hover img {
    /* Webkit for Chrome and Safari */
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.team-wrapper-page img {
    border-top: 2px solid #4F8C00;
    border-bottom: 1px solid #4F8C00;
    margin-bottom: 5px;
}
.team-title {
    float: left;
    text-align: left !important;
    width: 100%;
    position: absolute;
    top: 150px;
    padding: 0;
    z-index: 9999;
}
.team-title-page {
    text-align: right;
}
.team-title-page h4 {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 0px;
}
.col_13 .team-title, .col_13_last .team-title {
    top: 220px;
}
.col_12 .team-title, .col_12_last .team-title {
    top: 380px;
}
.team-title h4 {
    background-color: #4F8C00;
    color: #ffffff;
    margin-bottom: 0px;
    display: inline-block;
    padding: 2px 5px 4px 5px;
    letter-spacing: -1px;
}
.team-title h4 a {
    color: #ffffff;
}
.team-title p.team-subtitle {
    font-weight: bold;
    background-color: #ffffff;
    display: inline-block;
    padding: 0px 5px;
    color: #777777;
    font-size: 11px;
}
.team-title-page p.team-subtitle {
    color: #4F8C00;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-bottom: 0px;
}
.team-social, .team-social-page {
    float: left;
    text-align: left !important;
    border-bottom: 1px solid #8DB559;
    width: 100%;
    padding: 0px 0px 5px 0px;
    margin-bottom: 10px;
    margin-top: -15px;
}
.team-social-page {
    margin-top: 2px;
    border-bottom: none;
    width: auto;
    float: right;
    clear: both;
    
}
.team-social-page a {
}
.team-social a {
    margin: 0 6px 8px 0;
}
.team-social a:hover {
    color: #666666;
}

.team-social a i {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.team-social a i:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
}
.sidebarcontent .team-wrapper {
    margin-bottom: 20px;
}
.sidebarcontent .team-image {
    width: 60px;
    height: auto;
    margin: 0px !important;
    float: left;
}
.sidebarcontent .team-image img {
    margin-top: 0px;
}
.sidebarcontent .team-title {
    position: relative;
    top: 0;
    width: 120px;
    float: left;
    margin-left: 10px;
    height: auto;
    z-index: 0;
}
.sidebarcontent .team-title p.team-subtitle {
    line-height: 12px;
    text-align: left !important;
    display: inline-block;
    margin-bottom: 10px;   
    background-color: none;
}
.sidebarcontent .team-social {
    width: auto;
    float: right;    
    clear: both;
    width: 120px;
    position: relative;
    border: none;
    margin-bottom: 4px;
}
.sidebarcontent .team-social a {
    text-align: left;
}
.sidebarcontent .team-title h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 5px 2px 5px;    
}
.sidebarcontent .divider{
  padding: 0;
  margin-bottom: 8px;
}
.widget_team_widget .widgettitle {
    display: none;
}
/*
Testimonial List
*/

.testimonial-wrapper {
    position: relative;
    height: 100%;
}
.testimonial-image {
    width: 100px; 
    height:100px;  
    position: absolute;
    bottom: -70px;
}
.testimonial-image img {
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: transform 0.5s ease;
    transform: scale(0.8);
    border: 4px solid #A8D66B;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
.testimonial-wrapper:hover .testimonial-image img {
     transform: scale(.9);
}

.testimonial-title {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 15px;
    margin-left: 140px;
    max-width: 50%;
}
.col_14 .testimonial-title,.col_14_last .testimonial-title {
    margin-left: 0;
    margin-top: 80px;
    max-width: 100%;
}
.testimonial-title h4 {
    margin-bottom: 0px;
    display: inline-block;
    padding: 2px 5px 0px 5px;
    letter-spacing: 1px;
    float: left;
    clear: both;
    color: #4F8C00;
}
.testimonial-title p.testimonial-subtitle {
    display: inline-block;
    padding: 0px 5px;
    color: #777777;
    float: left;
    clear: both;
}
.testimonial-content {
    display: inline-block;
    padding: 20px 60px; 
    color: #777777;
    font-size: 11px;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    -moz-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    border: 1px solid #DCEBCA;
    background: #ffffff;
}
.col_14 .testimonial-content,.col_14_last .testimonial-content {
    width: 40%;
}
.testimonial-content:before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 125px;
  bottom: -20px;
  border: 10px solid transparent;
  border-left: 10px solid #DCEBCA;
  border-top: 10px solid #DCEBCA;
}

.testimonial-content:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 125px;
  bottom: -18px;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
  border-top: 10px solid #ffffff;
}
.testimonial-content p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #a8a8a8;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.testimonial-content p:before {
    content: "\e65b";
    left: 1em;
}
.testimonial-content p:before, .testimonial-content p:after {
    color: #A3A3A3;
    font-family: 'Elusive-Icons';
    position: absolute;
    top: 10%;
    font-size: 30px;
    font-style: normal !important;
    font-weight: normal;
}

.sidebarcontent .testimonial-wrapper {
    margin-bottom: 80px;
}
.sidebarcontent .testimonial-content {
    padding: 10px 20px 20px 20px;
}
.sidebarcontent .testimonial-content p {
    font-size: 16px;   
    letter-spacing: 0px;
}
.sidebarcontent .testimonial-content p:before {
    left: 0.5em;
}
.sidebarcontent .testimonial-content p:before, .sidebarcontent .testimonial-content p:after {
    font-size: 18px;
    top: 5%;    
}
.sidebarcontent .testimonial-content:before {
  left: 90px;
}

.sidebarcontent .testimonial-content:after {
  left: 90px;
}
.sidebarcontent .testimonial-image img {
    width: 80%;
    height: 80%;    
}
.sidebarcontent .testimonial-title {
    margin-bottom: 50px;
    margin-top: -66px;
    margin-left: 94px;
    position: relative;
}
.sidebarcontent .testimonial-title h4 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
}
.sidebarcontent .testimonial-title p.testimonial-subtitle {
    font-size: 11px;
    max-width: 60%;
    line-height: 12px;
}
.eco-icon-list {
    margin: 0;
}
.eco-icon-list li {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 10px;
    font-family: arial;
}
.eco-icon-list li i {
    margin-right: 4px;
}

#flags_language_selector {
    float: right;
    width: 50px;
    display: inline;
    margin-bottom: 0px;
    margin-right: 10px;
}
#flags_language_selector img{
      margin-right: 5px;
}

#scrollUp {
    background: url(images/transparent.png) repeat;
    bottom: 39px;
    color: #fff;
    font-size: 22px;
    height: 40px;
    line-height: 33px;
    right: 50px;
    text-align: center;
    transition: all 0.25s ease-in-out 0s;
    width: 40px;
    -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
}