body { background-color: #2888BF; }
a,a:link,a:visited {
  color:#007BA8;
}
a:hover{
  color:#555555;
}
.pricing-button .button {
    color: #ffffff;
}
#slide-wrapper { 
  border-top: 4px solid #259AC4; 
  border-bottom: 2px solid #259AC4; 
  background: #259AC4;
}
.featuresbox,
.quotebox {
  background-color: #01BAFD;
  background-image: url(blue/blue.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;
  border-bottom: 2px solid #259AC4;   
}
.featuresbox ul li { 
  background: url(blue/divider-blue.png) center left no-repeat;
}      
.mainbox h4,
.mainbox2 h4 {
  color: #007BA8;
}
#page-heading {  
  border-top: 4px solid #259AC4;
  border-bottom: 2px solid #259AC4;  
  background: #259AC4;
}
#mainmenu ul li:hover, #mainmenu li.current_page_item,
#mainmenu li.current_page_parent,
#mainmenu li.current-menu-parent,
#mainmenu li.current-menu-item,
#mainmenu li.current-menu-ancestor{
  text-decoration:none;
  color:#007BA8;
}

#mainmenu ul li:hover > a,
#mainmenu li.current_page_item > a,
#mainmenu li.current_page_parent > a,
#mainmenu li.current-menu-parent > a,
#mainmenu li.current-menu-ancestor > a{
  color:#007BA8;
}


#mainmenu li.current_page_item a li a, #mainmenu li.current_page_item a li a:hover,
#mainmenu li.current_page_parent a li a, #mainmenu li.current_page_parent a li a,
#mainmenu li.current-menu-parent a li a, #mainmenu li.current-menu-parent a li a,
#mainmenu li.current-menu-item a li a, #mainmenu li.current-menu-item a li a {
  text-decoration:none;
  color:#007BA8;
}

a.button {
  color: #ffffff;  
}
.wpapi_pagination a:hover,
.wp-pagenavi a:hover {
  background: #007BA8;
}
.wpapi_pagination .current,
.wp-pagenavi .current{
  background: #007BA8;
}
.nivo-caption a {
  color: #ffffff; 
}

.team-wrapper-page img,
.team-wrapper img {
    border-top: 2px solid #259AC4;
}
.team-wrapper-page img {
    border-top: 2px solid #259AC4;
    border-bottom: 1px solid #94D3EB;
}
.team-title h4 {
    background-color: #259AC4;
}
.team-social, .team-social-page {
    border-bottom: 1px solid #B1E7FA;
}
.team-title-page p.team-subtitle {
    color: #259AC4;
}
.testimonial-image img {
    border: 4px solid #A5E3FA;
}
.testimonial-content {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    -moz-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    border: 1px solid #E3F4FA;
}
.testimonial-content:before {
  border: 10px solid transparent;
  border-left: 10px solid #CDEEFA;
  border-top: 10px solid #CDEEFA;
}
.testimonial-title h4 {
    color: #259AC4;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .slicknav_menu {
        background-color: #68C0F2 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #21C2FC;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slicknav_menu {
        background-color: #68C0F2 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #21C2FC;
    }
}

@media only screen and (max-width: 479px) { 
    .slicknav_menu {
        background-color: #68C0F2 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #21C2FC;
    }
}