body { 
  background-color: #D6612B;
}
a,a:link,a:visited {
  color:#D64400;
}
a:hover{
  color:#555555;
}
.pricing-button .button {
    color: #ffffff;
}
#slide-wrapper { 
  border-top: 4px solid #C24C15;
  border-bottom: 2px solid #C24C15;
  background: #BF4C17;
}
.featuresbox,
.quotebox {
  background-color: #EB6325;
  background-image: url(brown/brown.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;
  border-bottom: 2px solid #C24C15; 
}
.featuresbox ul li {
  background: url(brown/divider-brown.png) center left no-repeat;
}    
.mainbox h4,
.mainbox2 h4 {
  color: #D64400;
  margin-bottom: 10px;
}
.mainbox h4 a,
.mainbox2 h4 a {
  color: #D64400;
}
#page-heading {
  border-top: 4px solid #C24C15;
  border-bottom: 2px solid #C24C15;
  background: #BF4C17;
}
#mainmenu ul li:hover, #mainmenu li.current_page_item,
#mainmenu li.current_page_parent,
#mainmenu li.current-menu-parent,
#mainmenu li.current-menu-item,
#mainmenu li.current-menu-ancestor{
  text-decoration:none;
  color:#D64400;
}

#mainmenu ul li:hover > a,
#mainmenu li.current_page_item > a,
#mainmenu li.current_page_parent > a,
#mainmenu li.current-menu-parent > a,
#mainmenu li.current-menu-ancestor > a{
  color:#D64400;
}


#mainmenu li.current_page_item a li a, #mainmenu li.current_page_item a li a:hover,
#mainmenu li.current_page_parent a li a, #mainmenu li.current_page_parent a li a,
#mainmenu li.current-menu-parent a li a, #mainmenu li.current-menu-parent a li a,
#mainmenu li.current-menu-item a li a, #mainmenu li.current-menu-item a li a {
  text-decoration:none;
  color:#D64400;
}
a.button {
  color: #ffffff;  
}
.wpapi_pagination a:hover,
.wp-pagenavi a:hover {
  background: #D64400;
}
.wpapi_pagination .current,
.wp-pagenavi .current{
  background: #D64400;
}
.nivo-caption a {
  color: #ffffff; 
}

.team-wrapper-page img,
.team-wrapper img {
    border-top: 2px solid #D64400;
}
.team-wrapper-page img {
    border-top: 2px solid #D64400;
    border-bottom: 1px solid #D64400;
}
.team-title h4 {
    background-color: #D64400;
}
.team-social, .team-social-page {
    border-bottom: 1px solid #FFD2BD;
}
.team-title-page p.team-subtitle {
    color: #D64400;
}
.testimonial-image img {
    border: 4px solid #E38459;
}
.testimonial-content {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    -moz-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    border: 1px solid #FFECE3;
}
.testimonial-content:before {
  border: 10px solid transparent;
  border-left: 10px solid #FFE3D6;
  border-top: 10px solid #FFE3D6;
}
.testimonial-title h4 {
    color: #D64400;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .slicknav_menu {
        background-color: #F7773B !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #ED743B;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slicknav_menu {
        background-color: #F7773B !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #ED743B;
    }
}

@media only screen and (max-width: 479px) { 
    .slicknav_menu {
        background-color: #F7773B !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #ED743B;
    }
}