body { 
  background-color: #4A4A4A;
}
a,a:link,a:visited {
  color:#4a4a4a;
}
a:hover{
  color:#555555;
}
.pricing-button .button {
    color: #ffffff;
}
#slide-wrapper {
  border-top: 4px solid #363636;
  border-bottom: 2px solid #363636;
  background: #2B2B2B;
}
.featuresbox,
.quotebox {
  background-color: #444444;
  background-image: url(dark/dark.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;
  border-bottom: 2px solid #363636;
}
.featuresbox ul li {
  background: url(dark/divider-dark.png) center left no-repeat;
}   
.mainbox h4,
.mainbox2 h4 {
  color: #4a4a4a;
  margin-bottom: 10px;
}
.mainbox h4 a,
.mainbox2 h4 a {
  color: #4a4a4a;
}
#page-heading {
  border-top: 4px solid #363636;
  border-bottom: 2px solid #363636;
  background: #2B2B2B;
}
#mainmenu ul li:hover, #mainmenu li.current_page_item,
#mainmenu li.current_page_parent,
#mainmenu li.current-menu-parent,
#mainmenu li.current-menu-item,
#mainmenu li.current-menu-ancestor{
  text-decoration:none;
  color:#4a4a4a;
}

#mainmenu ul li:hover > a,
#mainmenu li.current_page_item > a,
#mainmenu li.current_page_parent > a,
#mainmenu li.current-menu-parent > a,
#mainmenu li.current-menu-ancestor > a{
  color:#4a4a4a;
}


#mainmenu li.current_page_item a li a, #mainmenu li.current_page_item a li a:hover,
#mainmenu li.current_page_parent a li a, #mainmenu li.current_page_parent a li a,
#mainmenu li.current-menu-parent a li a, #mainmenu li.current-menu-parent a li a,
#mainmenu li.current-menu-item a li a, #mainmenu li.current-menu-item a li a {
  text-decoration:none;
  color:#4a4a4a;
}
a.button {
  color: #ffffff;  
}
.wpapi_pagination a:hover,
.wp-pagenavi a:hover {
  background: #4a4a4a;
}
.wpapi_pagination .current,
.wp-pagenavi .current{
  background: #4a4a4a;
}
.nivo-caption a {
  color: #ffffff; 
}

.team-wrapper-page img,
.team-wrapper img {
    border-top: 2px solid #4a4a4a;
}
.team-wrapper-page img {
    border-top: 2px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
}
.team-title h4 {
    background-color: #4a4a4a;
}
.team-social, .team-social-page {
    border-bottom: 1px solid #D1D1D1;
}
.team-title-page p.team-subtitle {
    color: #4a4a4a;
}
.testimonial-image img {
    border: 4px solid #757575;
}
.testimonial-content {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    -moz-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    border: 1px solid #EBEBEB;
}
.testimonial-content:before {
  border: 10px solid transparent;
  border-left: 10px solid #D4D4D4;
  border-top: 10px solid #D4D4D4;
}
.testimonial-title h4 {
    color: #4a4a4a;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .slicknav_menu {
        background-color: #666666 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #5E5E5E;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slicknav_menu {
        background-color: #666666 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #5E5E5E;
    }
}

@media only screen and (max-width: 479px) { 
    .slicknav_menu {
        background-color: #666666 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #5E5E5E;
    }
}