body { 
  background-color: #C98D00;
}
a,a:link,a:visited {
  color:#F09C00;
  text-decoration:none;
}
a:hover{
  color:#555555;
}
.pricing-button .button {
    color: #ffffff;
}
#slide-wrapper {
  border-top: 4px solid #F09C00;
  border-bottom: 2px solid #F09C00;
  background: #CF8600;
}
.featuresbox,
.quotebox {
  background-color: #F3B700;
  background-image: url(orange/orange.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;
  border-bottom: 2px solid #F09C00;  
}
.featuresbox ul li { 
  background: url(orange/divider-orange.png) center left no-repeat;
}   
.mainbox h4,
.mainbox2 h4 {
  color: #F09C00;
  margin-bottom: 10px;
}
.mainbox h4 a,
.mainbox2 h4 a {
  color: #F09C00;
}
#page-heading {
  border-top: 4px solid #F09C00;
  border-bottom: 2px solid #F09C00;
  background: #CF8600;
}
#mainmenu ul li:hover, #mainmenu li.current_page_item,
#mainmenu li.current_page_parent,
#mainmenu li.current-menu-parent,
#mainmenu li.current-menu-item,
#mainmenu li.current-menu-ancestor{
  text-decoration:none;
  color:#F09C00;
}

#mainmenu ul li:hover > a,
#mainmenu li.current_page_item > a,
#mainmenu li.current_page_parent > a,
#mainmenu li.current-menu-parent > a,
#mainmenu li.current-menu-ancestor > a{
  color:#F09C00;
}


#mainmenu li.current_page_item a li a, #mainmenu li.current_page_item a li a:hover,
#mainmenu li.current_page_parent a li a, #mainmenu li.current_page_parent a li a,
#mainmenu li.current-menu-parent a li a, #mainmenu li.current-menu-parent a li a,
#mainmenu li.current-menu-item a li a, #mainmenu li.current-menu-item a li a {
  text-decoration:none;
  color:#F09C00;
}
a.button {
  color: #ffffff;  
}
.wpapi_pagination a:hover,
.wp-pagenavi a:hover {
  background: #F09C00;
}
.wpapi_pagination .current,
.wp-pagenavi .current{
  background: #F09C00;
}
.nivo-caption a {
  color: #ffffff; 
}
.team-wrapper-page img,
.team-wrapper img {
    border-top: 2px solid #F09C00;
}
.team-wrapper-page img {
    border-top: 2px solid #F09C00;
    border-bottom: 1px solid #F09C00;
}
.team-title h4 {
    background-color: #F09C00;
}
.team-social, .team-social-page {
    border-bottom: 1px solid #FCD8AC;
}
.team-title-page p.team-subtitle {
    color: #F09C00;
}
.testimonial-image img {
    border: 4px solid #F09C00;
}
.testimonial-content {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    -moz-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    border: 1px solid #FFF0DE;
}
.testimonial-content:before {
  border: 10px solid transparent;
  border-left: 10px solid #FFE1BD;
  border-top: 10px solid #FFE1BD;
}
.testimonial-title h4 {
    color: #F09C00;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .slicknav_menu {
        background-color: #FCB93D !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #F7BE11;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slicknav_menu {
        background-color: #FCB93D !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #F7BE11;
    }
}

@media only screen and (max-width: 479px) { 
    .slicknav_menu {
        background-color: #FCB93D !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #F7BE11;
    }
}