body { 
  background-color: #B5141F;
}
a,a:link,a:visited {
  color:#DE313C;
  text-decoration:none;
}
a:hover{
  color:#555555;
}
.pricing-button .button {
    color: #ffffff;
}
#slide-wrapper {
  border-top: 4px solid #D11320;
  border-bottom: 2px solid #D11320;
  background: #BA1300;
}
.featuresbox,
.quotebox {
  background-color: #DB2935;
  background-image: url(red/red.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;
  border-bottom: 2px solid #D11320;  
}
.featuresbox ul li {
  background: url(red/divider-red.png) center left no-repeat;
}
.mainbox h4,
.mainbox2 h4 {
  color: #DE000F;
  margin-bottom: 10px;
}
.mainbox h4 a,
.mainbox2 h4 a {
  color: #DE000F;
}
#page-heading {
  border-top: 4px solid #D11320;
  border-bottom: 2px solid #D11320;
  background: #BA1300;
}
#mainmenu ul li:hover, #mainmenu li.current_page_item,
#mainmenu li.current_page_parent,
#mainmenu li.current-menu-parent,
#mainmenu li.current-menu-item,
#mainmenu li.current-menu-ancestor{
  text-decoration:none;
  color:#DE313C;
}

#mainmenu ul li:hover > a,
#mainmenu li.current_page_item > a,
#mainmenu li.current_page_parent > a,
#mainmenu li.current-menu-parent > a,
#mainmenu li.current-menu-ancestor > a{
  color:#DE313C;
}


#mainmenu li.current_page_item a li a, #mainmenu li.current_page_item a li a:hover,
#mainmenu li.current_page_parent a li a, #mainmenu li.current_page_parent a li a,
#mainmenu li.current-menu-parent a li a, #mainmenu li.current-menu-parent a li a,
#mainmenu li.current-menu-item a li a, #mainmenu li.current-menu-item a li a {
  text-decoration:none;
  color:#DE313C;
}
a.button {
  color: #ffffff;  
}
.wpapi_pagination a:hover,
.wp-pagenavi a:hover {
  background: #DE000F;
}
.wpapi_pagination .current,
.wp-pagenavi .current{
  background: #DE000F;
}
.nivo-caption a {
  color: #ffffff; 
}
.team-wrapper-page img,
.team-wrapper img {
    border-top: 2px solid #DE000F;
}
.team-wrapper-page img {
    border-top: 2px solid #DE000F;
    border-bottom: 1px solid #DE9EA2;
}
.team-title h4 {
    background-color: #DE000F;
}
.team-social, .team-social-page {
    border-bottom: 1px solid #FFD1D4;
}
.team-title-page p.team-subtitle {
    color: #DE000F;
}
.testimonial-image img {
    border: 4px solid #FFB5BA;
}
.testimonial-content {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    -moz-box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    box-shadow: 0px 2px 0px 0px rgba(247,247,247,0.9);
    border: 1px solid #FFE6E7;
}
.testimonial-content:before {
  border: 10px solid transparent;
  border-left: 10px solid #FFD1D3;
  border-top: 10px solid #FFD1D3;
}
.testimonial-title h4 {
    color: #DE000F;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .slicknav_menu {
        background-color: #FF4A56 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #E82C39;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slicknav_menu {
        background-color: #FF4A56 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #E82C39;
    }
}

@media only screen and (max-width: 479px) { 
    .slicknav_menu {
        background-color: #FF4A56 !important;   
    }
    .featuresbox ul li {
      border-bottom: 1px solid #E82C39;
    }
}