/*

Theme Name: Porto
Theme URI: http://www.newsmartwave.net/wordpress/porto
Author: SW-THEMES
Author URI: http://www.newsmartwave.net/
Description: Porto Responsive Wordpress + eCommerce Theme.
Version: 4.2
License: Commercial
License URI: http://themeforest.net/licenses/regular_extended
Tags: woocommerce, corporate, ecommerce, responsive, blue, black, green, white, light, dark, red, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: porto

*/

/*************** ADD YOUR CUSTOM CSS HERE  ***************/

.bypostauthor {}
#header.logo-overlay-header .overlay-logo {
	top:30px !important;
}
#footer .logo img {
	max-width:150px;
}
#footer .footer-bottom .container .footer-center {
	text-align:center;
}
#footer .footer-bottom .container .footer-left{
	width: 0px;
} 
.accordion-menu li.menu-item>a, .accordion-menu li.menu-item>h5{
	font-weight:600;
}
#nav-panel .accordion-menu li.menu-item .sub-menu li:hover > *:not(.sub-menu){
	color:#ffffff;
}
#footer .widget p {
    margin-top: 0px !important;
}
    