
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

$grid-gutter-width:           30px !default;


$primary:       #025998 !default;
$success:       #47a447 !default;
$info:          #5bc0de !default;
$warning:       #ed9c28 !default;
$danger:        #d2322d !default;

    $dark: #1d2127;

$color-dark-1: $dark;
$color-dark-2: lighten($color-dark-1, 2%);
$color-dark-3: lighten($color-dark-1, 5%);
$color-dark-4: lighten($color-dark-1, 8%);
$color-dark-5: lighten($color-dark-1, 3%);
$color-darken-1: darken($color-dark-1, 2%);
$dark-bg: $dark;
$dark-default-text: #808697;

	$body-bg: #fff !default;
	// Colors
	$gray-base:              #000 !default;
	$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
	$gray-dark:              lighten($gray-base, 20%) !default;   // #333
	$gray:                   lighten($gray-base, 33.5%) !default; // #555
	$gray-light:             lighten($gray-base, 46.7%) !default; // #777
	$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

	// Tables
	$table-accent-bg:               #f9f9f9 !default;
	$table-hover-bg:                #f5f5f5 !default;
	$table-active-bg:               $table-hover-bg !default;
	$table-border-color:            #ddd !default;

	// Forms
	$input-disabled-bg:              $gray-lighter !default;
	$input-color:                    #777 !default;
	$input-border-color:             #ccc !default;
	$input-focus-border-color:       #66afe9 !default;
	$input-placeholder-color:        #999 !default;

	// Dropdowns
	$dropdown-divider-bg:            #e5e5e5 !default;
	$dropdown-link-color:            $gray-dark !default;
	$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
	$dropdown-link-hover-bg:         #f5f5f5 !default;

	// Tabs
	$nav-tabs-border-color:                     #ddd !default;
	$nav-tabs-link-active-border-color:			#ddd !default;
	$nav-tabs-link-hover-border-color:          #ddd !default;

	// Pagination
	$pagination-border-color:              #ddd !default;
	$pagination-hover-border:              #ddd !default;
	$pagination-active-color:              #fff !default;
	$pagination-disabled-bg:               #fff !default;
	$pagination-disabled-border-color:     #ddd !default;

	// Popovers
	$popover-border-color:					rgba(0,0,0,.2) !default;

	// Modals
	$modal-content-border-color:			rgba(0,0,0,.2) !default;
	$modal-header-border-color:				#e5e5e5 !default;

	// Progress bars
	$progress-bg:					#f5f5f5 !default;

	// List group
	$list-group-border-color:       #ddd !default;
	$list-group-hover-bg:           #f5f5f5 !default;
	$list-group-action-color:       #555 !default;
	$list-group-action-active-color:#333 !default;

	//  Close
	$close-text-shadow:           none !default;


	$border-radius:               .25rem !default;
	$border-radius-lg:            .3rem !default;
	$border-radius-sm:            .2rem !default;

// Image thumbnails
    $thumbnail-padding:                 .25rem !default;
	$thumbnail-bg:                      $body-bg !default;
	$thumbnail-border-width:            1px !default;
	$thumbnail-border-color:            #ddd !default;
